.denuncia-banner{
    height:280px;
    background:var(--azul);
    gap:30px;
    padding:20px;
}

.banner-animal img{
    height:285px;
}

.banner-message{
    max-width:600px;
    color:var(--branco);
    
}

.banner-message h1{
    font-size:42px;
    margin-bottom:10px;
}

.banner-message p{
    font-size:20px;
    line-height:1.4;
    width: 100%;
}

.denuncia-content{
    background:#c8dbea;
    min-height:100vh;
    padding:60px 20px;
}

.form-container{
    max-width:90000px;
    margin:0 auto;
    padding:40px;
    border-radius:20px;
    background:var(--branco);
}

.form-container h2{
    text-align:center;
    margin-bottom:30px;
    color:var(--azul);
}

#form-denuncia{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.input-group{
    display:flex;
    flex-direction:column;
    gap:8px;
}

.input-group label{
    font-weight:600;
    color:#333;
}

.input-group input,
.input-group select,
.input-group textarea{
    width:100%;
    border:none;
    outline:none;
    padding:14px;
    border-radius:10px;
    background:#f2f2f2;
    font-size:15px;
}

.input-group textarea{
    resize:none;
    height:140px;
}

button.button{
    border:none;
    cursor:pointer;
    margin-top:10px;
}

.popup-overlay{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.6);
    display:none;
    justify-content:center;
    align-items:center;
    z-index:9999;
}

.popup-overlay.active{
    display:flex;
}

.popup-success{
    width:400px;
    background:var(--branco);
    padding:30px;
    border-radius:20px;
    text-align:center;
}

.success-icon{
    width:70px;
    height:70px;
    margin:0 auto 20px;
    border-radius:50%;
    background:var(--azul);
    color:var(--branco);
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:35px;
}

@media(max-width:900px){

    .denuncia-banner{
        flex-direction:column;
        height:auto;
        text-align:center;
    }

    .banner-message h1{
        font-size:32px;
    }

    .banner-message p{
        font-size:18px;
    }

    .form-container{
        padding:25px;
    }

}