.dashboard{
    display:flex;
    min-height:100vh;
    background:var(--cinza-claro);
}

.sidebar{
    width:250px;
    background:var(--azul);
    padding:30px 20px;
    color:var(--branco);
}

.sidebar-menu{
    display:flex;
    flex-direction:column;
    gap:15px;
    margin-top:40px;
}

.sidebar-menu a{
    padding:14px;
    border-radius:8px;
    transition:var(--transition);
    font-weight:bold;
}

.sidebar-menu a:hover,
.active-link{
    background:rgba(255,255,255,0.15);
}


.main{
    flex:1;
    padding:40px;
}

.dashboard-header{
    margin-bottom:40px;
}

.dashboard-cards{
    margin-bottom:40px;
}

.dashboard-card{
    width:240px;
    background:var(--branco);
    padding:25px;
    box-shadow:var(--shadow);
}

.dashboard-card p{
    margin-top:10px;
    font-size:36px;
    font-weight:bold;
    color:var(--laranja);
}

.table-container{
    background:var(--branco);
    border-radius:var(--radius);
    overflow:hidden;
    box-shadow:var(--shadow);
}

.adoption-table{
    width:100%;
    border-collapse:collapse;
}

.adoption-table th{
    background:var(--azul);
    color:var(--branco);
}

.adoption-table th,
.adoption-table td{
    padding:18px;
    text-align:left;
}

.adoption-table tr:nth-child(even){
    background:#f9f9f9;
}

.animal-info{
    display:flex;
    align-items:center;
    gap:15px;
}

.animal-info img{
    width:60px;
    height:60px;
    border-radius:12px;
    object-fit:cover;
}


.status{
    padding:6px 14px;
    border-radius:20px;
    font-size:13px;
    font-weight:bold;
}

.adopted{
    background:#d4f8d4;
    color:#2d8a2d;
}

.pending{
    background:#fff0c7;
    color:#c27b00;
}